/* Header */
body {
  background-image: url("https://images3.alphacoders.com/869/869602.jpg") !important;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.large-header {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}
