/* Header */
.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
  #large-header {
     background-image: url("https://images3.alphacoders.com/869/869602.jpg");
     background-attachment: fixed;
  }
