@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

html, body{
  font-family: 'Audiowide', cursive !important;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.8em;
  padding: 10px 13px 10px 46px;
  border: none;
  text-align: left;
  vertical-align: center;
  line-height: 37px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */

.loginBtn--facebook {
  background-color: rgb(10, 41, 124);
  background-image: linear-gradient(rgb(13, 41, 117), rgb(12, 38, 116));
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 rgb(7, 32, 100);
}

.loginBtn--facebook:before {
  /*border-right: #062886 1px solid;*/
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 10px no-repeat;
}

.loginBtn--facebook:hover, .loginBtn--facebook:focus {
  background-color: rgb(6, 37, 121);
  background-image: linear-gradient(rgb(10, 34, 99), rgb(17, 48, 133));
}

/* Google */

.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: rgb(161, 29, 11);
}

.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover, .loginBtn--google:focus {
  background: #E74B37;
}

audio {
  width: 200px;
}

.navbar-brand {
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='64' height='64'%0AviewBox='0 0 172 172'%0Astyle=' fill:%23000000;'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,172v-172h172v172z' fill='none'%3E%3C/path%3E%3Cg fill='%23ffffff'%3E%3Cg id='surface1'%3E%3Cpath d='M34.34625,37.84c-0.90031,0.01344 -1.74687,0.37625 -2.37844,1.00781l-20.64,20.64c-1.34375,1.34375 -1.34375,3.52062 0,4.86437l72.24,72.24c1.34375,1.34375 3.52062,1.34375 4.86437,0l72.24,-72.24c1.34375,-1.34375 1.34375,-3.52062 0,-4.86437l-20.64,-20.64c-1.34375,-1.34375 -3.52062,-1.34375 -4.86437,0l-49.16781,49.16781l-49.16781,-49.16781c-0.65844,-0.65844 -1.55875,-1.02125 -2.48594,-1.00781z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

/* tttttttttttttttttttttttttt */
.jumbotron {
  color: white;
  /* background-image: url("images/globe.webp"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  font-family: 'Bree Serif', serif;
}

@media screen and (min-width: 480px) {
  .jumbotron {
    height: 75vh;
  }
}

.jumbotron .container {
  position: absolute;
  top: 40%;
  left: 3%;
  width: 100%;
}

.jumbotron .container h1 {
  font-size: 4em
}

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

/* html, body {
  height: 100vh;
  background-image: url("images/tech-background.webp");
  height: '100%';
} */

.prize {
  text-align: center;
  background: #003366;
  box-shadow: 0px 0px 0px grey;
  transition: box-shadow .6s ease-out;
  box-shadow: .8px .9px 3px grey;
}

.prize .display-1 {
  font-family: 'Anton', sans-serif;
}

.prize:hover {
  background-color: #E74B37;
  box-shadow: 1px 8px 20px grey;
  color: white;
  z-index: 3;
  transition: box-shadow .6s ease-in, background-color .6s ease;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline !important;
}

.a {
    background: rgba(21, 27, 84,0.8);
    opacity: 1;
}

.card{
  background: rgba(44, 45, 46, 0.1) !important;
  color: white;
/* background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(49%, rgba(134,174,204,0.93)), color-stop(100%, rgba(134,174,204,0.85)));
background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 ); */
  border-radius: 10px;
}

.card .b{
  font-family: 'Helvetica', sans-serif;
}

.card .c{
  background: #98AFC7;
}

.clue-btn{
  padding: 5px;
  /* border-style: none; */
  border-radius: 20px;
  background: rgba(46, 6, 69, 0.1) !important;
  color: white !important;
/* background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(49%, rgba(134,174,204,0.93)), color-stop(100%, rgba(134,174,204,0.85)));
background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,0.93) 49%, rgba(134,174,204,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 ); */
}

.clue-btn:hover {
  background: rgba(46, 6, 69, 0.7) !important;
  color: white !important;
}

.clue-btn:active {
  background: rgba(46, 6, 69, 0.7) !important;
  color: white !important;
}

.clue-submit {
  background-color: rgb(46, 6, 69) !important;
  color: white !important;
}

.clue-submit:hover {
  color: white !important;
}