.glitch {
    position: relative;
    color: white;
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 1px;
    text-shadow: -1px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  /* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
  @keyframes glitch-anim {
    0% {
      clip: rect(12px, 9999px, 8px, 0);
      transform: skew(0.64deg);
    }
    5% {
      clip: rect(20px, 9999px, 97px, 0);
      transform: skew(0.1deg);
    }
    10% {
      clip: rect(99px, 9999px, 17px, 0);
      transform: skew(0.06deg);
    }
    15% {
      clip: rect(35px, 9999px, 56px, 0);
      transform: skew(0.03deg);
    }
    20% {
      clip: rect(53px, 9999px, 11px, 0);
      transform: skew(0.69deg);
    }
    25% {
      clip: rect(5px, 9999px, 44px, 0);
      transform: skew(0.74deg);
    }
    30% {
      clip: rect(13px, 9999px, 60px, 0);
      transform: skew(0.29deg);
    }
    35% {
      clip: rect(79px, 9999px, 37px, 0);
      transform: skew(0.76deg);
    }
    40% {
      clip: rect(40px, 9999px, 25px, 0);
      transform: skew(0.72deg);
    }
    45% {
      clip: rect(63px, 9999px, 100px, 0);
      transform: skew(0.71deg);
    }
    50% {
      clip: rect(1px, 9999px, 75px, 0);
      transform: skew(0.98deg);
    }
    55% {
      clip: rect(63px, 9999px, 81px, 0);
      transform: skew(0.18deg);
    }
    60% {
      clip: rect(47px, 9999px, 22px, 0);
      transform: skew(0.99deg);
    }
    65% {
      clip: rect(15px, 9999px, 37px, 0);
      transform: skew(0.58deg);
    }
    70% {
      clip: rect(92px, 9999px, 17px, 0);
      transform: skew(0.68deg);
    }
    75% {
      clip: rect(70px, 9999px, 92px, 0);
      transform: skew(0.79deg);
    }
    80% {
      clip: rect(95px, 9999px, 58px, 0);
      transform: skew(0.84deg);
    }
    85% {
      clip: rect(26px, 9999px, 90px, 0);
      transform: skew(0.11deg);
    }
    90% {
      clip: rect(95px, 9999px, 44px, 0);
      transform: skew(0.42deg);
    }
    95% {
      clip: rect(49px, 9999px, 53px, 0);
      transform: skew(0.01deg);
    }
    100% {
      clip: rect(4px, 9999px, 73px, 0);
      transform: skew(0.75deg);
    }
  }
  @keyframes glitch-anim2 {
    0% {
      clip: rect(69px, 9999px, 21px, 0);
      transform: skew(0.8deg);
    }
    5% {
      clip: rect(53px, 9999px, 95px, 0);
      transform: skew(0.68deg);
    }
    10% {
      clip: rect(67px, 9999px, 97px, 0);
      transform: skew(0.92deg);
    }
    15% {
      clip: rect(18px, 9999px, 60px, 0);
      transform: skew(0.29deg);
    }
    20% {
      clip: rect(59px, 9999px, 68px, 0);
      transform: skew(0.94deg);
    }
    25% {
      clip: rect(94px, 9999px, 4px, 0);
      transform: skew(0.63deg);
    }
    30% {
      clip: rect(20px, 9999px, 84px, 0);
      transform: skew(0.33deg);
    }
    35% {
      clip: rect(29px, 9999px, 57px, 0);
      transform: skew(0.1deg);
    }
    40% {
      clip: rect(31px, 9999px, 70px, 0);
      transform: skew(0.61deg);
    }
    45% {
      clip: rect(94px, 9999px, 64px, 0);
      transform: skew(0.26deg);
    }
    50% {
      clip: rect(79px, 9999px, 92px, 0);
      transform: skew(0.7deg);
    }
    55% {
      clip: rect(48px, 9999px, 24px, 0);
      transform: skew(0.66deg);
    }
    60% {
      clip: rect(75px, 9999px, 80px, 0);
      transform: skew(0.25deg);
    }
    65% {
      clip: rect(95px, 9999px, 15px, 0);
      transform: skew(0.46deg);
    }
    70% {
      clip: rect(41px, 9999px, 95px, 0);
      transform: skew(0.32deg);
    }
    75% {
      clip: rect(81px, 9999px, 97px, 0);
      transform: skew(0.94deg);
    }
    80% {
      clip: rect(96px, 9999px, 8px, 0);
      transform: skew(0.29deg);
    }
    85% {
      clip: rect(40px, 9999px, 53px, 0);
      transform: skew(0.15deg);
    }
    90% {
      clip: rect(35px, 9999px, 47px, 0);
      transform: skew(0.43deg);
    }
    95% {
      clip: rect(9px, 9999px, 6px, 0);
      transform: skew(0.29deg);
    }
    100% {
      clip: rect(75px, 9999px, 56px, 0);
      transform: skew(0.98deg);
    }
  }
  @keyframes glitch-skew {
    0% {
      transform: skew(5deg);
    }
    10% {
      transform: skew(-3deg);
    }
    20% {
      transform: skew(5deg);
    }
    30% {
      transform: skew(4deg);
    }
    40% {
      transform: skew(4deg);
    }
    50% {
      transform: skew(2deg);
    }
    60% {
      transform: skew(4deg);
    }
    70% {
      transform: skew(2deg);
    }
    80% {
      transform: skew(-1deg);
    }
    90% {
      transform: skew(-3deg);
    }
    100% {
      transform: skew(5deg);
    }
  }
